Aristotle Pagaltzis <aristotle@cpan.org> <pagaltzis@gmx.de>
Graham Ollis <plicease@cpan.org> <perl@wdlabs.com>
Marcel Gruenauer <marcel@cpan.org> <hanekomu@gmail.com>
motemen <motemen@cpan.org> <motemen@gmail.com>
moznion <moznion@cpan.org> <moznion@gmail.com>
Peter Vereshagin <veresc@cpan.org> <peter@vereshagin.org>
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Ryan C. Thompson <rthompson@cpan.org> <rct@thompsonclan.org>
Victor Moral <vmoral@cpan.org> <victor@taquiones.net>
